@import "variables";
@font-face {font-family: "Maison Neue"; src: url("//db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.eot");
  src: url("//db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/63467b9cbd4a4d7eafb5e64946ecaa18.svg#Maison Neue") format("svg"); }


.site-footer-1 {
  background-color: $clr-black;
  color: $white;
  .container {
    max-width: 1245px;
    padding: 0 30px;
  }
}
.region-footer-first .block-block-content{
  margin: 0 auto;
  .field--name-field-footer-logo {
    padding: 90px 0;
    img {
      width: 100%;
      height: auto;
    }
  }
}
.main-center-footer {
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 20px;
  .region-footer-contact {
    display: block;
    max-width: 100%;
    .block-block-content {
      .layout--twocol-section {
        .layout__region--first {
          padding-right: 25px;
        }
        font-size: 12px;
        font-family: 'Maison Neue', Sans-Serif;
        line-height: 1.8;
        padding-bottom: 10px;
      }
      h2 {
        font-size: 12px;
        padding-bottom: 20px;
        font-family: 'Maison Neue', Sans-Serif;
      }
      .block-field-blockblock-contenthow-to-contact-usfield-phone {
        display: flex;
        align-items: baseline;
        font-size: 12px;
        font-family: 'Maison Neue', Sans-Serif;
        h2 {
          padding-right: 4px;
        }
        .field--type-telephone {
          a {
            text-decoration: none;
            color: $white;
          }
        }
      }
      .block-field-blockblock-contenthow-to-contact-usfield-email {
        display: flex;
        align-items: baseline;
        font-size: 12px;
        font-family: 'Maison Neue', Sans-Serif;
        h2 {
          padding-right: 4px;
        }
        .field__item {
          a {
            text-decoration: none;
            color: $white;
            &:hover {
              color: $clr-btn-red;
              transition: 0.5s;
            }
          }
        }
      }
      .field--name-field-cvr {
        font-size: 12px;
        font-family: 'Maison Neue', Sans-Serif;
      }
    }
  }
}
.region-footer-subscribe {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  h2 {
    font-size: 12px;
    padding-bottom: 20px;
    font-family: 'Maison Neue', Sans-Serif;
  }
  .field--name-field-social-link {
    display: block;
    margin-bottom: 25px;
    a{
      font-family: 'Maison Neue', Sans-Serif;
      width: 180px;
      height: 50px;
      text-decoration: none;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $clr-btn-red;
      transition: 0.5s;
      font-size: 13px;
      letter-spacing: 3px;
      &:hover{
        background: $clr-btn-red-hover;
      }
    }
  }
  .block-views-blocklike-follow-and-subscribe-block-1 {
    margin-top: 5px;
    font-family: 'Maison Neue', Sans-Serif;
    h2 {
      font-size: 12px;
    }
    .view-like-follow-and-subscribe {
      color: $black;
      font-size: 20px;
      padding-left: 12px;
      .field-content  {
        a {
          .svg-inline--fa{
            color: $white;
            &:hover {
              color: $clr-btn-red;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
}
.region-footer-instagram {
  .block-views-blocksocial-icon-front-page-block-1 {
    h2 {
      font-size: 12px;
      padding-bottom: 20px;
      font-family: 'Maison Neue', Sans-Serif;
    }
    .content {
      .view-social-icon-front-page .view-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        .views-field-field-image-instagram {
          background-color: $clr-black;
          &:hover {
            background-color: $clr-black;
            opacity: 0.5;
            transition: 0.5s;
          }
        }
      }
    }
  }
}
.region-footer-third {
  padding: 140px 15px 10px 15px;
  .block-block-content50f74e7d-336c-4e15-a4d9-6c4c914564ea {
    font-size: 12px;
    a  {
      text-decoration: none;
      color: $white;
      &:hover {
        color: $clr-btn-red;
        transition: 0.5s;
      }
    }
  }
}

@media (max-width: 992px) {
  .site-footer-1 {
    background-color: $clr-black;
    color: $white;
    .container {
      max-width: 1245px;
      padding: 0 30px;
    }
  }
  .region-footer-first .block-block-content{
    margin: 0 auto;
    .field--name-field-footer-logo {
      padding: 90px 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .main-center-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    padding: 0 20px;
    .region-footer-contact {
      display: flex;
      max-width: 100%;
      margin: 0 auto;
      .block-block-content {
        .layout--twocol-section {
          .layout__region--first {
            padding-right: 25px;
          }
          font-size: 12px;
          font-family: 'Maison Neue', Sans-Serif;
          line-height: 1.8;
          padding-bottom: 10px;
        }
        h2 {
          font-size: 12px;
          padding-bottom: 20px;
          font-family: 'Maison Neue', Sans-Serif;
        }
        .block-field-blockblock-contenthow-to-contact-usfield-phone {
          display: flex;
          font-size: 12px;
          font-family: 'Maison Neue', Sans-Serif;
          h2 {
            padding-right: 4px;
          }
          .field--type-telephone {
            a {
              text-decoration: none;
              color: $white;
            }
          }
        }
        .block-field-blockblock-contenthow-to-contact-usfield-email {
          display: flex;
          font-size: 12px;
          font-family: 'Maison Neue', Sans-Serif;
          h2 {
            padding-right: 4px;
          }
          .field__item {
            a {
              text-decoration: none;
              color: $white;
              &:hover {
                color: $clr-btn-red;
                transition: 0.5s;
              }
            }
          }
        }
        .field--name-field-cvr {
          font-size: 12px;
          font-family: 'Maison Neue', Sans-Serif;

        }
      }
    }
    .region-footer-subscribe {
      display: flex;
      h2 {
        font-size: 12px;
        padding-bottom: 20px;
        font-family: 'Maison Neue', Sans-Serif;
      }
      .field--name-field-social-link {
        display: block;
        margin-bottom: 25px;
        a{
          font-family: 'Maison Neue', Sans-Serif;
          width: 180px;
          height: 50px;
          text-decoration: none;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $clr-btn-red;
          transition: 0.5s;
          font-size: 13px;
          letter-spacing: 3px;
          &:hover{
            background: $clr-btn-red-hover;
          }
        }
      }
      .block-views-blocklike-follow-and-subscribe-block-1 {
      }
      font-family: 'Maison Neue', Sans-Serif;
      h2 {
        font-size: 12px;
      }
      .view-like-follow-and-subscribe {
        color: $black;
        font-size: 20px;
        padding-left: 12px;
        .field-content  {
          a {
            .svg-inline--fa{
              color: $white;
              &:hover {
                color: $clr-btn-red;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
  }
  .region-footer-instagram {
    //display: block;
    margin: 0 auto;
    grid-column-start: 1;
    grid-column-end: 3;
    .block-views-blocksocial-icon-front-page-block-1 {
      margin-top: 20px;

      h2 {
        font-size: 12px;
        padding-bottom: 20px;
        font-family: 'Maison Neue', Sans-Serif;
      }
      .content {
        .view-social-icon-front-page .view-content {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 15px;
          .views-field-field-image-instagram {
            background-color: $clr-black;
            &:hover {
              background-color: $clr-black;
              opacity: 0.8;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
  .region-footer-third {
    padding: 140px 15px 10px 15px;
    .block-block-content50f74e7d-336c-4e15-a4d9-6c4c914564ea {
      font-size: 12px;
      a  {
        text-decoration: none;
        color: $white;
        &:hover {
          color: $clr-btn-red;
          transition: 0.5s;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .site-footer-1 {
    background-color: $clr-black;
    color: $white;

    .container {
      max-width: 1245px;
      padding: 0 30px;
    }
  }
  .region-footer-first .block-block-content{
    margin: 0 auto;
    .field--name-field-footer-logo {
      padding: 90px 10px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .main-center-footer {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    .region-footer-contact {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 100%;

      .block-block-content {
        h2 {
          text-align: center;
        }
        .layout--twocol-section {
          display: flex;
          flex-wrap: nowrap;

          .layout__region--first {
            padding-right: 25px;
          }
          font-size: 12px;
          font-family: 'Maison Neue', Sans-Serif;
          line-height: 1.8;
          padding-bottom: 10px;
        }
        h2 {
          font-size: 12px;
          padding-bottom: 20px;
          font-family: 'Maison Neue', Sans-Serif;
        }
        .layout__region--content {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-bottom: 10px;
          .block-field-blockblock-contenthow-to-contact-usfield-phone {
            display: flex;
            font-size: 12px;
            font-family: 'Maison Neue', Sans-Serif;
            h2 {
              padding-right: 4px;
            }
            .field--type-telephone {
              a {
                text-decoration: none;
                color: $white;
              }
            }
          }
          .block-field-blockblock-contenthow-to-contact-usfield-email {
            display: flex;
            font-size: 12px;
            font-family: 'Maison Neue', Sans-Serif;
            h2 {
              padding-right: 4px;
            }
            .field__item {
              a {
                text-decoration: none;
                color: $white;
                &:hover {
                  color: $clr-btn-red;
                  transition: 0.5s;
                }
              }
            }
          }
          .field--name-field-cvr {
            font-size: 12px;
            font-family: 'Maison Neue', Sans-Serif;

          }
        }
      }
    }
    .region-footer-subscribe {
      display: flex;
      align-content: center;
      align-items: center;
      margin: 20px 0;
      h2 {
        font-size: 12px;
        padding-bottom: 20px;
        font-family: 'Maison Neue', Sans-Serif;
      }
      .field--name-field-social-link {
        display: block;
        margin-bottom: 25px;
        a{
          font-family: 'Maison Neue', Sans-Serif;
          width: 180px;
          height: 50px;
          text-decoration: none;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $clr-btn-red;
          transition: 0.5s;
          font-size: 13px;
          letter-spacing: 3px;
          &:hover{
            background: $clr-btn-red-hover;
          }
        }
      }
      .block-views-blocklike-follow-and-subscribe-block-1 {
      }
      font-family: 'Maison Neue', Sans-Serif;
      h2 {
        font-size: 12px;
      }
      .view-like-follow-and-subscribe {
        color: $black;
        font-size: 20px;
        padding-left: 12px;
        .field-content  {
          a {
            .svg-inline--fa{
              color: $white;
              &:hover {
                color: $clr-btn-red;
                transition: 0.5s;
              }
            }
          }
        }
      }
    }
  }
  .region-footer-instagram {
    display: flex;
    margin: 0 auto;
    .block-views-blocksocial-icon-front-page-block-1 {
      margin-top: 20px;

      h2 {
        font-size: 12px;
        padding-bottom: 20px;
        font-family: 'Maison Neue', Sans-Serif;
      }
      .content {
        .view-social-icon-front-page .view-content {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 15px;
          .views-field-field-image-instagram {
            background-color: $clr-black;
            &:hover {
              background-color: $clr-black;
              opacity: 0.8;
              transition: 0.5s;
            }
          }
        }
      }
    }
  }
  .region-footer-third {
    padding: 140px 15px 10px 15px;
    .block-block-content50f74e7d-336c-4e15-a4d9-6c4c914564ea {
      font-size: 12px;
      a  {
        text-decoration: none;
        color: $white;
        &:hover {
          color: $clr-btn-red;
          transition: 0.5s;
        }
      }
    }
  }
}
