.page-view-frontpage {
  .section-team{
    font-family: "MaisonNeueMono", sans-serif;
    letter-spacing: 1.5px;
    height: 860px;
    display: flex;
    margin-bottom: 25px;
    color: $white;
    background: url("../../../../Img/main1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    .region-featured-bottom-second{
      margin: auto auto 150px 100px;
      .content {
        margin-top: 25px;
        .field--name-field-nh-read-more {
          width: 118px;
          height: 40px;
          a{
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $clr-btn-red;
            transition: 0.5s;
            font-size: 13px;
            &:hover{
              background: $clr-btn-red-hover;
            }
          }
        }
      }
    }
  }
}

// ADAPTIVE

@media (max-width: 1400px) {
  .page-view-frontpage {
    .section-team{
      height: 660px;
    }
  }
}
@media (max-width: 1000px) {
  .page-view-frontpage {
    .section-team{
      height: 460px;
      .region-featured-bottom-second {
        margin: auto;
        padding: 20px;
        text-align: center;
        .content {
          .field--name-field-nh-read-more {
            margin: 0 auto;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  .page-view-frontpage{
    .section-team {
      height: 300px;
    }
  }
}
@media (max-width: 470px) {
  .page-view-frontpage{
    .section-team {
      height: min-content;
      .region-featured-bottom-second{
        margin: 0 auto;
        .content{
          p {
            font-size: 10px;
          }
        }
      }
    }
  }
}
