@import "variables";
@font-face {
  font-family: 'MaisonNeue-Book';

  src: url('https://nomail.com.ua/files/eot/416895af68d7ac172c399b6b5fbb2878.eot?#iefix') format('embedded-opentype'),
  url('https://nomail.com.ua/files/woff/416895af68d7ac172c399b6b5fbb2878.woff') format('woff'),
  url('https://nomail.com.ua/files/woff2/416895af68d7ac172c399b6b5fbb2878.woff2') format('woff2');
}

.path-store {
  .site-footer-2 {
    .container {
      max-width: 1090px;
      .region-footer-first {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 80px 20px;
        border-bottom: 1px solid #a7a7a7;
        .menu--footer-quick-links {
          max-width: 400px;
          h2 {
            font-size: 17px;
            font-family: 'MaisonNeue-Book';
            font-weight: bold;
            padding-bottom: 10px;
          }
          ul {
            margin-left: -16px;
            a {
              color: $black;
              font-size: 16px;
              &:hover {
                color: #4b4b4b;
                text-decoration: underline;
              }
            }

          }
        }
        .block-block-contente41661d0-6593-478b-bd9a-8b7c4f23d8f2 {
          h2 {
            font-size: 17px;
            font-family: 'MaisonNeue-Book';
            font-weight: bold;
            padding-bottom: 10px;
          }
          .content {
            line-height: 40px;
          }
        }
      }
      .region-footer-third {
        display: flex;
        justify-content: space-between;
        padding: 50px 20px;
        .field--name-field-payment {
          display: flex;
          flex-wrap: wrap;
          > .field__item {
            margin-right: 5px;
          }
        }
        .block-block-content670208ae-c091-42dd-8b3c-e74cee2b1177 {
          font-size: 14px;
          font-family: 'MaisonNeue-Book';
          a {
            color: $black;
            &:hover {
              color: #4b4b4b;
              text-decoration: underline;
            }
          }
        }

      }
    }
  }
}
